<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:form="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>ADMIN - PET SHOP - Pet Shop Website</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<base th:href="@{/admin/}">
<!-- Favicon -->
<link th:href="@{img/favicon.ico}" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap"
	rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet">
<link th:href="@{lib/flaticon/font/flaticon.css}" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet">
<style>
.anyClass {
	height: 550px;
	overflow-y: scroll;
}
</style>
</head>

<body>



	<!-- Navbar Start -->
	<nav
		class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
		<a href="index.html" class="navbar-brand ms-lg-5">
			<h1 class="m-0 text-uppercase text-dark">
				<i class="bi bi-shop fs-1 text-primary me-3"></i>Pet Shop
			</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto py-0">
				<a href="index.html" class="nav-item nav-link">Username</a>
				<!-- <div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown">Pages</a>
					<div class="dropdown-menu m-0">
						<a href="price.html" class="dropdown-item">Pricing Plan</a> <a
							href="team.html" class="dropdown-item">The Team</a> <a
							href="testimonial.html" class="dropdown-item">Testimonial</a> <a
							href="blog.html" class="dropdown-item">Blog Grid</a> <a
							href="detail.html" class="dropdown-item">Blog Detail</a>
					</div>
				</div> -->
				<a href="contact.html"><a href="index.html"
					class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Log
						out<i class="bi bi-arrow-right"></i>
				</a> </a>
			</div>
		</div>
	</nav>
	<!-- Navbar End -->


	<div class="container-fluid bg-white">
		<div class="row">
			<div class="col-sm-2 bg-light">
				<h5
					class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Quick
					Links</h5>
				<div class="d-flex flex-column justify-content-start text-left">
					<a class="text-body mb-2" th:href="@{/admin/adminAcc}"><i
						class="bi bi-arrow-right text-primary me-2"></i><b>Account</b></a> <a
						class="text-body mb-2" th:href="@{/admin/adminCate}"><i
						class="bi bi-arrow-right text-primary me-2"></i>Category</a> <a
						class="text-body mb-2" th:href="@{/admin/adminOrder}"><i
						class="bi bi-arrow-right text-primary me-2"></i>Order</a> <a
						class="text-body mb-2" th:href="@{/admin/adminProd}"><i
						class="bi bi-arrow-right text-primary me-2"></i>Product</a> <a
						class="text-body mb-2" th:href="@{/admin/adminAcc}"><i
						class=" bi bi-arrow-right text-primary me-2"></i>Proceeds</a> <a
						class="text-body" th:href="@{/admin/adminContact}"><i
						class=" bi bi-arrow-right text-primary me-2"></i>Contact</a>
				</div>


			</div>
			<div class="col-sm-7 text-left">
				<h1>Product</h1>
				<p class="text-danger" th:text="${message}"></p>
				<div class="anyClass ">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Category</th>
								<th>Price</th>
								<th>Description</th>
								<th>Image</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product1 : ${products}">
								<td th:text="${product1.id}"></td>
								<td th:text="${product1.name}"></td>
								<td th:text="${product1.category.id}"></td>
								<td th:text="${product1.price}"></td>
								<td th:text="${product1.description}"></td>
								<td><img th:src="@{${product1.imageUrl}}"
									th:alt="${product1.imageUrl}" /></td>
								<td><a class="text-dangerr"
									th:href="@{adminPro/{id}(id=${product1.id})}">Update</a>|<a
									class="text-danger"
									th:href="@{adminPro/delete/{id}(id=${product1.id})}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-3 ">
				<h1>Create</h1>
				<div th:switch="${up}">
					<div th:case=true>
						<div class="form">
							<form th:action="@{adminPro/update}" method="post"
								th:object="${product}">
								<label class="form-label" for="id">id:</label> <input
									class="form-control" type="text" id="id" th:field="*{id}"
									disabled> <label class="form-label" for="username">Name:</label>
								<input class="form-control" type="text" id="username"
									th:field="*{name}" required><label class="form-label"
									for="username">Cagetory:</label> <select class="form-control"
									th:field="*{category.id}">
									<option th:each="item : ${categories}" th:value="${item.id}"
										th:text="${item.name}"
										th:selected="${item.id == product.category.id}"></option>
								</select>
								<!-- <input class="form-control" type="text" id="username"
									th:field="*{category.id}" required> -->
								<label class="form-label" for="password">Price:</label> <input
									class="form-control" type="text" id="password"
									th:field="*{price}" required> <label class="form-label"
									for="email">Email:</label> <input class="form-control"
									type="text" id="email" th:field="*{description}" required>
								<label class="form-label" for="role">Image:</label> <input
									class="form-control" type="text" id="role"
									th:field="*{imageUrl}" required>
								<hr />

								<button class="btn btn-primary form-label" type="submit">Update</button>
							</form>
						</div>



					</div>
					<div th:case=false>
						<div class="form">
							<form th:action="@{/admin/products/create}" method="post"
								th:object="${product}">
								<label class="form-label" for="id">id:</label> <input
									class="form-control" type="text" id="id" th:field="*{id}"
									enable> <label class="form-label" for="username">Name:</label>
								<input class="form-control" type="text" id="username"
									th:field="*{name}" required><label class="form-label"
									for="username">Cagetory:</label> <select class="form-control"
									th:field="*{category.id}">
									<option th:each="item : ${categories}" th:value="${item.id}"
										th:text="${item.name}"></option>
								</select>
								<!-- <input class="form-control" type="text" id="username"
									th:field="*{category.id}" required> -->
								<label class="form-label" for="password">Price:</label> <input
									class="form-control" type="text" id="password"
									th:field="*{price}" required> <label class="form-label"
									for="email">Email:</label> <input class="form-control"
									type="text" id="email" th:field="*{description}" required>
								<label class="form-label" for="role">Image:</label> <input
									class="form-control" type="text" id="role"
									th:field="*{imageUrl}" required>
								<hr />

								<button class="btn btn-primary form-label" type="submit">Create</button>
							</form>
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>





























	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/waypoints/waypoints.min.js"></script>
	<script src="./lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Template Javascript -->
	<script src="js/main.js"></script>




</body>
</html>